<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="js/bootstrap.min.js"></script>
    <title>Clients</title>
</head>
<body class="text-center">
<div class="container">
    <h2 th:if="${clients eq null}" class="m-2">No clients yet!</h2>
    <div th:if="${clients ne null}"  class="row justify-content-center">
        <h2 class="m-6">List of clients</h2>
        <table class="table text-left">
            <thead class="thead-light col-6">
            <tr>
                <th scope="col">Name<a class="ml-2 text-dark text-decoration-none" th:href="@{/(sortBy=NAME)}">
                    <svg class="bi bi-arrow-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.646 9.646a.5.5 0 01.708 0L8 12.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M8 2.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V3a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                    </svg>
                </a></th>
                <th scope="col">Phone<a class="ml-2 text-dark text-decoration-none" th:href="@{/(sortBy=PHONE)}">
                    <svg class="bi bi-arrow-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.646 9.646a.5.5 0 01.708 0L8 12.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M8 2.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V3a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                    </svg>
                </a></th>
                <th scope="col">Email<a class="ml-2 text-dark text-decoration-none" th:href="@{/(sortBy=EMAIL)}">
                    <svg class="bi bi-arrow-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.646 9.646a.5.5 0 01.708 0L8 12.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M8 2.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V3a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                    </svg>
                </a></th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clients}">
                <td th:text="${client.name}"></td>
                <td th:text="${client.phone}"></td>
                <td th:text="${client.email}"></td>
                <td><a th:href="@{/edit/{id} (id=${client.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id} (id=${client.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-between">
        <form action="#"  th:action="@{/search(q)}" class="form-inline" method="get">
            <input type="text" class="form-control mr-2" id="search" placeholder="Search by phone no." aria-label="Search" th:name="q">
            <button class="btn btn-primary ml-2" type="submit">Search</button>
        </form>
        <a  href="/new" class="btn btn-primary">Add client</a>
    </div>
</div>
</body>
</html>