<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="js/bootstrap.min.js"></script>
    <title>Update Client</title>
</head>
<body class="text-center">
<div class="container">
    <h2 class="m-6">Update Client</h2>
    <div class="row justify-content-center">
        <form action="#" th:action="@{/update/{id} (id=${client.id})}" th:object="${client}" method="post" class="form col-6">
            <div class="form-group text-left">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{name}">
                <span class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
            <div class="form-group text-left">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" placeholder="+X(XXX)XXX-XX-XX" th:field="*{phone}">
                <span class="invalid-feedback" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
            </div>
            <div class="form-group text-left">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" placeholder="email@example.com" th:field="*{email}" >
                <span class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <div>
                <input type="submit" value="Update client" class="btn btn-primary">
            </div>
        </form>

    </div>
</div>

</body>
</html>